@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background: rgba(22, 139, 88, 0.745);
  /* font-size: 16px;
  font-weight: normal;
  font-family: 'Roboto', sans-serif; */
  font: normal 16px 'Roboto', sans-serif;
}

.container {
  padding-top: 30px;
  max-width: 750px;
  margin: auto;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-shadow: 0 0 10px rgb(0, 255, 255), 0 0 12px rgb(0, 255, 255),
    0 0 25px rgb(0, 255, 255), 0 0 55px #0fa, 0 0 120px rgb(0, 255, 255),
    0 0 130px rgb(0, 255, 255), 0 0 102px rgb(0, 255, 255),
    0 0 200px rgb(0, 255, 255), 0 0 300px rgb(0, 255, 255),
    0 0 500px rgb(0, 255, 255), 0 0 500px rgb(0, 255, 255);
  color: white;
}

a:active {
  text-shadow: none;
  box-shadow: 0 0 50px red, 0 0 50px red, 0 0 100px red, 0 0 100red,
    0 0 200px red, 0 0 200px red, 0 0 300px red, 0 0 300px red, 0 0 400px red,
    0 0 400px red, 0 0 500px red, 0 800px red;
  color: red;
}

.lol span {
  visibility: hidden;
  position: absolute;
}

.lol:active span {
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(255, 0, 0); */
  z-index: 1;
  left: 10px;
}

#me {
  width: 300px;
  height: 300px;
  border-radius: 25px;
  box-shadow: 0 0 20px rgb(0, 0, 0, 1.5);
}

.info p {
  color: rgb(198, 239, 50);
  margin: 0;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  /* text-transform: lowercase; */
  /* letter-spacing: 2px; */
  /* word-spacing: 20px; */
}

.name {
  color: rgb(0, 0, 130);
}

.bg-yellow {
  background: #fff9dc;
}

.bg-green {
  background: #e5ffe7;
}

.bg-red {
  background: #ffe5e7;
}

.card {
  padding: 15px 20px;
  /* background: rgba(255, 0, 111, 0.751); */
  margin-bottom: 20px;
  border-radius: 25px;
}

.card h2 {
  margin-bottom: 10px;
  margin-top: 0;
}

.bg-red h3 {
  margin-top: 0;
}

.info {
  display: flex;
  margin-bottom: 20px;
}

@media (max-width: 700px) {
  .info {
    display: block;
    text-align: center;
  }
}

.info-text {
  margin-left: 30px;
}

.info-text h3 {
  margin-bottom: 5px;
}

.list {
  padding: 0px 20px;
}

.list li {
  color: gray;
  margin-bottom: 10px;
}

.table {
  width: 100%;
  text-align: center;
}
.table th {
  padding-bottom: 15px;
}

.table td {
  padding-bottom: 10px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
  color: rgb(211, 211, 211);
}
.table td:nth-child(1) {
  color: rgb(255, 73, 73);
  text-shadow: 0 0 20px rgb(25, 0, 255), 0 0 30px rgb(25, 0, 255);
}

.contact h2 {
  text-align: center;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #ba2d2d;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid rgba(102, 255, 0, 0.629);
  color: rgb(0, 0, 155);
  padding: 5px 0px 5px;
  outline: none;
  font-family: inherit;
}

.row {
  display: flex;
  margin-bottom: 20px;
}

.row > .form-group {
  width: 50%;
  margin-right: 15px;
}

.row > .form-group:last-child {
  margin-right: 0;
}

.btn {
  background: darkgreen;
  color: white;
  font-family: inherit;
  cursor: pointer;
  padding: 15px 20px;
  border: none;
}

.btn:hover {
  opacity: 0.85;
  text-shadow: 0 0 10px rgb(0, 255, 255), 0 0 12px rgb(0, 255, 255),
    0 0 25px rgb(0, 255, 255), 0 0 55px #0fa, 0 0 120px rgb(0, 255, 255),
    0 0 130px rgb(0, 255, 255), 0 0 102px rgb(0, 255, 255),
    0 0 200px rgb(0, 255, 255), 0 0 300px rgb(0, 255, 255),
    0 0 500px rgb(0, 255, 255), 0 0 500px rgb(0, 255, 255);
  color: white;
}

.position {
  border: 2px solid black;
  margin-top: 40px;
  padding: 20px;
}

.box {
  width: 50px;
  height: 50px;
  background: lightgreen;
}

/* .social {
  background: green;
  padding: 15px;
  border-top: 10px solid rgb(255, 208, 0);
  border-right: 20px solid rgb(255, 166, 0);
  border-bottom: 30px solid rgb(255, 119, 0);
  border-left: 40px solid rgb(255, 72, 0);

  margin: 30px;
} */

/* .box-model > div {
  float: left;
  background: black;
  border: 5px solid red;
  box-sizing: border-box;
  height: 200px;
  width: 25%;
} */
